[Desktop Entry]
Type=Application
Name=Install System
Name[de]=System installieren
Comment=Install this Linux Mint permanently on this computer
Comment[de]=Installiert dieses Linux Mint fest auf den Computer
Exec=bash -c "xhost +si:localuser:root >/dev/null 2>&1; exec pkexec calamares"
Icon=calamares
Terminal=false
Categories=System;
